@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');

:root {
    --primary-font: "Days One", sans-serif;
    --secondary-font: "Jacquard 12", system-ui;
    --orange: #ff7f00;
    --eerie-black: #121212;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: black;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://images.unsplash.com/photo-1568733873715-f9d497a47ea0?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    opacity: 8%;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: -1;
}

h2, h3 {
    font-family: var(--primary-font);
}


nav {
    position: sticky;
    top: 0; 
    z-index: 1000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: rgba(34, 34, 34, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

a {
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-family: var(--primary-font);
    color: transparent;
    -webkit-text-stroke: 0.8px var(--orange);
}

.logo:hover {
    cursor: pointer;
    -webkit-text-stroke: 0px;
    color: var(--orange);
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: transparent;
    -webkit-text-stroke: 0.8px var(--orange);
    text-decoration: none;
    font-family: var(--primary-font);
    font-size: 18px;
}

nav ul li #join {
    color: var(--orange);
    background-color: transparent;
    -webkit-text-stroke: 0px;
    padding: 4px;
    border-radius: 8px;
    border: 2px solid var(--orange);
}

nav ul li #join:hover {
    background-color: var(--orange);
    color: var(--eerie-black);
}

nav ul li a:hover {
    color: var(--orange);
    -webkit-text-stroke: 0px;
}

/* Hamburger styles */
.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: var(--orange);
    cursor: pointer;
    z-index: 1001; /* Ensure it's above other elements */
}

@media (max-width: 768px) {
    .hamburger {
        display: block; /* Show the hamburger on mobile */
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background: rgba(34, 34, 34, 0.9);
        position: absolute;
        top: 60px;
        left: 0;
        padding: 20px 0;
        z-index: 1000;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links ul {
        flex-direction: column;
        align-items: center;
    }

    .nav-links ul li {
        margin: 10px 0;
    }
}


.hero-banner {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: url('assets/hero.webp') no-repeat;
    background-size: cover;
    background-position: center;
    
    /* Apply a mask to fade out the opacity */
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
}

.hero-content {
    position: relative; /* Position content over the canvas */
    z-index: 2; /* Bring the text content above the canvas */
    text-align: left; /* Aligns text to the left */
    margin-left: 20px; /* Adds some left margin for spacing */
}

.hero-content h1 {
    font-family: var(--primary-font);
    font-size: 140px;
    color: var(--orange);
    margin: 0;
}

.hero-content p {
    font-family: var(--primary-font);
    font-size: 70px;
    color: #fff;
    width: 70%;
    margin-top: -20px;
}


.features, .projects, .resources, .about, .contact {
    padding: 60px 20px;
}


.features h2, .projects h2, .resources h2, .about h2, .contact h2 {
    font-size: 36px;
    font-family: var(--primary-font);
    color: var(--orange);
    text-align: center;
    margin-bottom: 40px;
}

.feature-list, .resource-list, .content-list, .project-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-card,
.resource-card,
.project-card {
    background: rgba(34, 34, 34, 0.9);
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    width: 30%;
    text-align: center;
    transition: transform 0.3s;
    color: #fff;
    overflow: hidden;
    background-image: url('assets/scrolling-bg.svg');
    background-repeat: repeat-x; 
    background-size: auto 100%; 
    animation: scrollBackground 10s linear infinite;
    box-shadow: 0px 0px 30px black;
}

@keyframes scrollBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}


.projects {
    background-image: url("assets/projectsbg.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode:difference;
}

.project-card {
    background: #222;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    width: 30%;
    text-align: center;
    transition: transform 0.3s;
    color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 30px black;
}

.resource-card {
    background: #222;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    width: 30%;
    text-align: center;
    transition: transform 0.3s;
    color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 30px black;
}

.resource-card img {
    width: 100%; 
    height: 400px; 
    object-fit: cover; 
    border-radius: 4px; 
}

.project-card img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 4px; 
}

.resource-card:hover {
    transform: scale(1.05);
    color: var(--orange);
}

.project-card:hover {
    transform: scale(1.05);
    background-color: var(--orange);
    color: var(--eerie-black);
}

.feature-card:hover {
    transform: scale(1.05);
    color: var(--orange);
    box-shadow: 0px 0px 20px var(--orange);
}

.project-card:hover img {
    filter:brightness(300%);
}

.feature-card h3, .project-card h3 {
    font-size: 24px;
    font-family: var(--primary-font);
}

.feature-card p, .project-card p {
    font-size: 16px;
}

.about {
    text-align: center;
}

.about p {
    font-size: 18px;
    color: #bbb;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.about a {
    color: var(--orange);
    padding: 8px;
}

.newsletter {
    background: rgb(34, 34, 34);
    border-radius: 40px;
    padding: 30px 50px;
    text-align: center;
    box-shadow: 0px 0px 30px black;
}

.newsletter h2 {
    font-size: 24px;
    font-family: var(--primary-font);
    color: #fff;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.newsletter p {
    color: rgba(255, 255, 255, 0.521);
    text-transform: uppercase;
    font-size: 18px;
}

.newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter form label {
    font-family: var(--primary-font);
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    text-transform: uppercase;
}

.newsletter form input[type="email"] {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--orange);
    width: calc(100% - 20px);
    margin-bottom: 20px;
    background-color: #333;
}

.newsletter form button[type="submit"] {
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    background-color: white;
    color: var(--eerie-black);
    font-family: var(--primary-font);
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
}

.newsletter form button[type="submit"]:hover {
    transform: scale(1.05);
    background-color: var(--orange);
}

@media (min-width: 768px) {
    .newsletter {
        max-width: 600px; /* Limit max width for better centering */
        margin: 0 auto; /* Center the section horizontally */
    }
}



footer {
    color: var(--orange);
    text-align: center;
    padding: 8px;
    background-color: #333;
    font-family: var(--secondary-font);
    margin-top: 40px;
}

#loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--orange);
    padding: 20px;
    border-radius: 10px;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.content-card {
    background: #222;
    padding: 20px;
    margin: 10px;
    margin-top: 80px;
    border-radius: 8px;
    margin-bottom: 80px;
    width: 30%;
    text-align: center;
    transition: transform 0.3s;
    color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 30px black;
}

.content-card img {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
    border-radius: 4px; 
}

.content-card #screen {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 4px;
}

.content-card:hover {
    transform: scale(1.05);
    background-color: var(--orange);
    color: var(--eerie-black);
}

.socials ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    margin-right: 3%;
    gap: 30px;
}

.socials ul li a img {
    width: 30px;
    filter: invert(48%) sepia(100%) saturate(2455%) hue-rotate(6deg) brightness(99%) contrast(102%);
}

@media (max-width: 768px) {
    body {
        text-align: center; /* Center all body content */
    }

    .hero-banner {
        justify-content: center;
        align-items: center;
        height: 70vh; /* Reduce height for mobile */
    }

    .hero-content {
        text-align: center; /* Center the text content */
        margin: 0 auto; /* Center the entire hero content */
    }

    .hero-content h1 {
        font-size: 36px; /* Scale down heading */
    }

    .hero-content p {
        font-size: 18px; /* Scale down paragraph text */
        width: 90%; /* Adjust width for better fit */
        margin: 0 auto; /* Center paragraph */
    }
}

/* Scale down and center cards in a column on mobile */
@media (max-width: 768px) {
    .feature-list, .resource-list, .content-list, .project-list {
        flex-direction: column; /* Stack in a column */
        align-items: center; /* Center the cards */
    }

    .feature-card, .resource-card, .project-card, .content-card {
        width: 90%; /* Scale down the cards */
        max-width: 350px; /* Limit width for better appearance */
        margin: 10px auto; /* Center each card */
    }

    .feature-card h3, .project-card h3, .resource-card h3 {
        font-size: 20px; /* Reduce font size */
    }

    .feature-card p, .project-card p, .resource-card p {
        font-size: 14px; /* Scale down paragraph text */
    }

    .content-card img, .resource-card img, .project-card img {
        height: 200px; /* Reduce image height for mobile */
    }
}

/* Newsletter and Other Section Scaling */
@media (max-width: 768px) {
    .newsletter {
        padding: 20px; /* Reduce padding for mobile */
        width: 90%; /* Limit width */
        margin: 20px auto; /* Center newsletter */
    }

    .newsletter h2 {
        font-size: 20px; /* Scale down header */
    }

    .newsletter p {
        font-size: 14px; /* Reduce paragraph text size */
    }

    .features, .projects, .resources, .about, .contact {
        padding: 20px 10px; /* Smaller padding */
    }

    .about p {
        font-size: 16px; /* Reduce font size in 'about' section */
        margin: 0 auto;
        max-width: 90%; /* Limit paragraph width */
    }

    footer {
        font-size: 14px; /* Scale down footer text */
    }
}